{% extends "base.html" %}
{% block body %}
{% if paginator.object_list %}
    <table id="logfile">
        {% if header_list %}
        <thead>
            <tr>
            {% for item in header_list %}
                <th>{{ item }}</th>
            {% endfor %}
            </tr>
        </thead>
        {% endif %}
        {% for line in paginator.object_list  %}
        <tr>
          {% for item in line %}

          {% if header_list|length == 1 %}
          <td>{{ item }}</td>
          {% else %}
                {% for atom in item %}
                    <td>{{ atom }}</td>
                    {% endfor %}
                    {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
